p {
  text-align: center;
}

h3  {
  text-align: center;
  color: deepskyblue;
}

h1 {
  text-align: center;
}
h4 {
  text-align: center;
  color: red;
}
.grey {
  color: lightgrey;
}
.btn {
  margin-top: 25px;
}
